.market-sub__left {
    margin-right: 40px;
}
.market-sub__right-slider:first-child {
    margin-right: 25px;
}
.market-sub__right-slider {
    height: 589px;
    width: 385px;
}
.market-sub__right-slider-item-file {
    height: 533px;
}
.about__projects .main__services-title {
    margin-bottom: 80px;
}
@media (min-width: 1930px) {
    .market-sub__right-slider-item-file {
        height: 551px;
    }
    .market-sub__right-slider {
        height: 618px;
        width: 445px;
    }
}
@media (max-width: 768px) {
    .about__projects .main__services-title {
        margin-bottom: 40px;
    }
}
@media (max-width: 576px) {
    .main__advantages {
        display: none;
    }
    .about__projects .main__services-title {
        margin-bottom: 12px;
    }
    .about__projects .main__services-pages {
        min-height: 560px;
    }
    .main__feed form .policy {
        font-size: 12px;
    }
    .about__products .main__market-all {
        font-size: 16px;
        line-height: 22px;
        padding-bottom: 0;
        border-bottom: 2px solid #000;
    }
}
@media (max-width: 430px) {
    .main__promo-slider {
        height: 600px;
    }
}