@media (max-width: 1400px)
    .container
        width: 1140px
    .header
        &__mobile
            display: flex
            align-items: center
        &__nav
            display: none
    .main
        &__promo
            &-logo 
                display: none
            &-slider 
                height: 570px
        &__advantages
            &-item 
                width: 360px
        &__blog 
            &-items 
                grid-template: auto / repeat(3, 365px)
            &-item 
                &-info
                    height: 310px
        &__market
            &-item 
                height: 600px
                &:not(:last-child)
                    margin-bottom: 23px
        &__cases
            &-items 
                padding-left: 180px
        &__stocks
            &-item 
                &-image 
                    height: 518px
                    width: 765px
@media (max-width: 1200px)
    .container
        width: 960px
    .button_arrow
        .arrow
            width: 33px
            height: 33px
    .text
        &_fz12
            font-size: 11px
            line-height: 16px
        &_fz14 
            font-size: 13px
            line-height: 19px
        &_fz18
            font-size: 14px
            line-height: 21px
    .title
        &_fz24
            font-size: 18px
            line-height: 26px
        &_fz32 
            font-size: 24px
            line-height: 36px
        &_fz48 
            font-size: 30px
            line-height: 36px
        &_fz120
            font-size: 77px
            line-height: 97px
    .header
        height: 74px
        padding: 23px 0px
        &__mobile
            img 
                width: 100px
    .main
        &__promo 
            padding: 10px 0px 60px
            &-slider 
                height: 500px
        &__advantages
            padding: 100px 0px
            &-items 
                margin-top: 60px
            &-item 
                width: 310px
        &__services
            padding: 70px 0px 100px
            &-pages 
                min-height: 400px
            &-page 
                &-info 
                    width: 526px
                &-image 
                    width: 430px
                    margin-left: 25px
        &__market
            &-items 
                margin: 100px 0px 50px
            &-item 
                height: 500px
                &-blocks 
                    margin: 42px 0px
                &-file 
                    width: 40%
                    margin-left: 37px
                &-info 
                    width: 56%
        &__blog 
            padding: 100px 0px
            &-items 
                grid-template: auto / repeat(3, 311px)
            &-item 
                &-info 
                    height: 252px
                    padding: 16px
                &-result 
                    padding: 16px
                    height: 72px
        &__cases 
            padding: 150px 0px
            &-items 
                padding-left: 80px
            &-item 
                padding: 16px 0px
                min-height: 200px
                &-logo 
                    margin: 0px 33px
                &-type 
                    span 
                        margin: 9px 0px 0px 9px
                &-result 
                    b, strong 
                        font-size: 30px
                        line-height: 36px
        &__stocks
            padding: 70px 0px 70px
            &-list 
                bottom: 41px
                right: 93px
                width: 325px
                &-item 
                    width: 80px
                    height: 53px
                    margin: 0px 11px 11px 0px
            &-item 
                &-image 
                    height: 428px
                    width: 658px
                &-info 
                    max-width: 267px
        &__feed
            padding: 100px 0px 100px
            form 
                .undertitle
                    margin-bottom: 60px
@media (max-width: 992px)
    .container
        width: 720px
    .title
        &_fz32 
            font-size: 20px
            line-height: 30px
    .mobile
        &__nav
            &-market
                margin: 0px 48px 0px 35px
    .main
        &__promo 
            &-slider 
                height: 364px
            &-about 
                &-descr
                    max-width: 468px
        &__advantages
            &-item 
                width: 228px
                img 
                    width: 22px
                    margin-right: 5px
        &__services
            padding: 70px 0px
            &-pages 
                min-height: 326px
            &-skip 
                height: 44px
            &-names 
                overflow-y: auto
            &-name 
                margin-right: 10px
                min-width: fit-content
            &-page 
                &-info 
                    width: 385px
                &-image 
                    width: 318px
                    margin-left: 12px
                &-blocks 
                    margin: 28px 0px
                    &-item
                        &:first-child
                            margin-right: 4px
        &__market 
            &-items 
                margin: 50px 0px
            &-item 
                height: unset
                min-height: 427px
                &:not(:last-child)
                    margin-bottom: 6px
                &-info 
                    width: 60%
                    padding: 20px 0px
                &-blocks 
                    margin: 25px 0px
                &-file 
                    width: 37%
                    margin-left: 0
        &__blog 
            &-item 
                &-info 
                    height: 219px
                &-result 
                    img 
                        width: 19px
            &-items 
                    grid-template: auto / repeat(3, 233px)
        &__cases 
            padding: 100px 0px
            &-items 
                padding-left: 0
            &-item 
                padding: 10px 0px
                min-height: 185px
                &-logo 
                    margin: 0px 18px
                &-type 
                    width: 279px
                    span 
                        margin: 5px 0px 0px 5px
                        padding: 2px 8px
        &__stocks
            &-item 
                &-image 
                    height: 312px
                    width: 463px
                &-info 
                    max-width: 231px
            &-list 
                bottom: -43px
                right: 26px
        &__feed 
            padding: 70px 0px
            form 
                .policy
                    margin: 15px 0px
                textarea
                    width: 377px
    .footer
        &__boss
            flex-direction: column
            align-items: center
            text-align: center
            &-image 
                width: 44px
                height: 44px
                margin-bottom: 10px
                margin-right: 0
@media (max-width: 768px)
    .container
        width: 540px
    .button
        &_black 
            margin-right: 32px
    .text
        &_fz12
            font-size: 11px
            line-height: 16px
        &_fz14 
            font-size: 12px
            line-height: 18px
        &_fz18
            font-size: 12px
            line-height: 19px
    .title
        &_fz24
            font-size: 15px
            line-height: 23px
        &_fz32 
            font-size: 17px
            line-height: 29px
        &_fz48 
            font-size: 22px
            line-height: 28px
        &_fz120
            font-size: 50px
            line-height: 80px
    .mobile
        padding: 90px 32px 32px
        &__close
            width: 30px
            height: 30px
        &__nav
            &-title 
                margin-bottom: 11px
            &-pages
                ul 
                    li 
                        margin-bottom: 5px
            &-market, &-services
                ul 
                    li
                        margin-bottom: 9px
    .main
        &__promo
            &-slider 
                height: 281px
                margin-bottom: 30px
            &-about 
                flex-direction: column
                &-title 
                    margin-bottom: 20px
                &-descr
                    max-width: 100%
        &__advantages
            padding: 70px 0px
            &-items 
                margin-top: 40px
                flex-direction: column
            &-item 
                width: 100%
                margin-bottom: 17px
                &-title 
                    margin: 4px 0px
        &__services
            &-pages 
                min-height: 337px
            &-page 
                z-index: 3
                &-info 
                    width: 414px
                    background-color: rgba(255, 255, 255, 0.7)
                    padding: 30px 18px
                    z-index: 2
                &-blocks
                    margin: 13px 0px
                    flex-direction: column
                    &-title 
                        margin-bottom: 0
                    &-item
                        &:first-child
                            margin-right: 0
                            margin-bottom: 5px
                &-image 
                    position: static
                    img 
                        z-index: 1
        &__market 
            &-title 
                &-bott 
                    span 
                        margin: 0px 0px 11px 16px
                &-top 
                    span
                        margin: 18px 5px 0px 0px
            &-item 
                &-file 
                    width: 42%
                &-info 
                    width: 56%
                    padding: 13px 0px
                &-blocks 
                    margin: 25px 0px
                    flex-direction: column
                    &-title 
                        margin-bottom: 0
                    &-item 
                        max-width: 100%
                        &:first-child
                            margin-bottom: 10px
        &__blog 
            &-items 
                grid-template: auto / repeat(1, 100%)
                gap: 18px
        &__cases
            &-item 
                flex-direction: column
                &-result 
                    b, strong 
                        font-size: 22px
                        line-height: 28px
                &-main 
                    margin-bottom: 10px
                &-logo 
                    margin: 0px 14px
                    img 
                        max-height: 85px
                        width: auto
                &-character
                    flex-direction: row-reverse
                &-type 
                    width: 287px
                    justify-content: flex-start
        &__stocks
            &-list 
                bottom: 55px
                right: -46px
                &-item 
                    width: 70px
                    height: 44px
                    margin: 0px 7px 7px 0px
            &-item 
                flex-direction: column
                &-info 
                    max-width: 100%
                &-title 
                    margin-bottom: 3px
                &-image 
                    height: 343px
                    width: 100%
                    margin-bottom: 20px
        &__feed 
            form 
                .form_fields
                    flex-direction: column-reverse
                textarea, .form_blocks 
                    width: 100%
                textarea
                    margin-bottom: 20px
    .footer
        padding: 30px 0px
        &__top
            flex-wrap: wrap
        &__nav 
            &-services, &-market
                width: 174px
                margin-bottom: 24px
        &__bott 
            &-left 
                .half
                    margin: 0px 20px
            img 
                width: 100px
@media (max-width: 576px)
    .container
        width: 100%
        padding: 0px 15px
    .title 
        &_fz120 
            font-size: 36px
            line-height: 50px
    .mobile
        overflow-y: auto
        padding: 55px 32px 32px
        &__close
            top: 18px
            right: 19px
        &__phone 
            margin: 16px 0px
            position: relative
            left: 50%
            transform: translateX(-50%)
        &__nav 
            flex-wrap: wrap
            nav 
                margin: 0px 17px 14px 0px
        &__bott 
            flex-direction: column
        &__info 
            margin-top: 18px
    .header
        height: 86px
        padding: 16px 0px
        position: relative
        &__lang 
            margin-right: 8px
        .container
            flex-direction: column
            align-items: flex-start
        &__right
            justify-content: space-between
            margin-top: 11px
            width: 100%
        &__mobile
            align-items: 
            img 
                width: 87px
        &__contact
            position: absolute
            right: 16px
            top: 21px
            a 
                &:nth-child(2)
                    margin: 0px 0px 0px 8px
                    img 
                        width: 18px
    .main
        &__promo 
            &-slider 
                height: 210px
        &__services 
            &-page 
                &-info 
                    width: 100%
                    background-color: rgba(255,255,255,.85)
                &-image 
                    width: 0
                    margin-left: 0
            &-skip 
                margin: 9px auto 0px
        &__market 
            &-item 
                flex-direction: column-reverse
                &-info 
                    width: 100%
                &-file 
                    width: 100%
                    height: 538px
            &-title 
                &-top, &-bott 
                    flex-direction: column
                    align-items: flex-start
                    span 
                        margin: 0
        &__cases
            &-item 
                &-type 
                    margin-left: 0
        &__stocks
            &-item 
                &-image 
                    height: 263px
                    margin-bottom: 113px
            &-list 
                bottom: 104px
                right: 50%
                transform: translateX(50%)
        &__feed 
            padding: 35px 0px
            form 
                .undertitle 
                    margin-bottom: 30px
    .footer
        &__bott 
            flex-direction: column
            &-left 
                margin-bottom: 17px
                .half
                    margin: 0px 4px
@media (max-width: 400px)
    .main
        &__market 
            &-item 
                flex-direction: column-reverse
                &-info 
                    width: 100%
                &-file 
                    width: 100%
                    height: 339px