.audit
    &__title
        white-space: nowrap
        margin: 195px auto 125px
    &__scheme
        display: block
        margin: 0 auto 
        max-width: 1600px
        width: 100%
        position: relative
        height: auto
    &__banner
        min-height: 240px
        padding: 10px 0px
        background: #1C1D1D
        position: relative
        display: flex
        align-items: center
        &-scheme 
            display: none
            align-items: center
            text-decoration: underline
            margin-top: 30px
            img 
                margin-right: 12px
        &-left 
            width: 480px
        &-right
            width: 460px
        &-point
            position: absolute
            height: 100%
            width: auto
            z-index: 0
            left: 50%
            transform: translateX(-50%)
        .container  
            z-index: 1
            position: relative
            height: 100%
            display: flex
            align-items: center
            justify-content: space-between
    &__work
        margin: 142px 0px 195px
        .container 
            display: flex
            gap: 19px
            justify-content: space-between
        &-text
            min-width: 424px
            max-width: 424px
            display: flex
            flex-direction: column
        &-item 
            position: relative
            h3
                margin-bottom: 25px
                br 
                    display: none
                img 
                    position: absolute
                    right: 0
                    top: 0
                    display: none
                    width: 21px
                    height: auto
                    transform: rotate(60deg)
        &-list 
            li 
                padding-left: 19px
                position: relative
                margin-bottom: 15px
                &:last-child
                    margin-bottom: 0 !important
                img 
                    position: absolute
                    width: 12px
                    height: auto
                    left: 0
                    top: 2px
        &-points
            display: grid 
            grid-template: auto / repeat(2, 1fr)
            gap: 50px 22px
        &-result, &-bott 
            padding: 21px 24px 52px
            h2 
                margin-bottom: 10px
        &-result 
            background: #1C1D1D
        &-bott 
            background: #D8612B
    .dont-play
        .opacity-aud, .scale-aud, .trans-aud, .path-anim-aud path
            animation-play-state: paused
    .opacity-aud
        opacity: 0
        animation: 1s opacity-aud 0s ease-in-out forwards 
    .scale-aud
        transform-box: fill-box
        transform-origin: 50% 50%
        transform: scale(0) translateY(100px)
        animation: 0.5s scale-aud 0s ease-in-out forwards 
    .trans-aud
        transform-box: fill-box
        transform-origin: 50% 50%
        opacity: 0
        transform: translateY(100px)
        animation: 0.5s trans-aud 0s ease-in-out forwards 
    .path-anim-aud path
        stroke-dasharray: 2000
        stroke-dashoffset: 2000
        fill-opacity: 0
        stroke-opacity: 0
        animation: 1.5s dash ease-in-out forwards
        animation-delay: inherit
@keyframes trans-aud
    0%
        opacity: 0
        transform: translateY(100px)
    100%
        opacity: 1
        transform: translateY(0)
@keyframes opacity-aud
    0%
        opacity: 0
    100%
        opacity: 1
@keyframes scale-aud
    0%
        transform: scale(0) translateY(100px)
    100%
        transform: scale(1) translateY(0px)
@keyframes dash 
    0% 
        stroke-opacity: 0
        stroke-dashoffset: 2000
    35%
        fill-opacity: 0
    42%
        fill-opacity: 1
    100% 
        fill-opacity: 1
        stroke-opacity: 1
        stroke-dashoffset: 0